/* Define o estilo geral da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #333;
}

/* Estilo para o contêiner do formulário */
form {
    background: hsl(43, 91%, 51%);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos dos campos */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: calc(100% - 22px); /* Ajusta o width para considerar o padding e border */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Inclui padding e border no width */
}

/* Estilo para o botão de envio do formulário */
button[type="submit"] {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para o botão de alternar a lista */
button#toggleLista {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button#toggleLista:hover {
    background-color: #218838;
}

/* Estilo para a lista de usuários */
ul#listaUsuarios {
    list-style: none;
    padding: 0;
}

ul#listaUsuarios li {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #00ff00;
}
